body {
	background-color: #ffffff;
	}

/*The header*/
.header {
  width: 100%;
  background-color: #0c59cf;
  color: white;
  font-family: Raleway;
  padding: 1px;

}

/* Grid styling nav*/
.grid-container-nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: auto;
  padding: 0.5%;
  background-image: #123456;
}
.grid-item-nav {
  text-align: center;
  margin-top: auto;
  text-align: center;
}
	
	
