body {
	background-color: #ffffff;
	}
/*The font styling*/
h1 {
  font-size: 26px;
  font-family: Raleway;
}

p {
  font-size: 14px;
  font-family: Raleway;
}


/*The header*/
.header {
  width: 100%;
  background-color: #0c59cf;
  color: white;
  font-family: Raleway;
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Grid styling nav*/
.nav-grid-container {
  background-color: #91e4fb;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
}

/*The nav hover effect*/
.nav-grid-container-cells:hover {
  background-color:rgba(255, 255, 255, 0.5);

}
	
	
