body {
	background-color: #ffffff;
}
/*FONTS*/
h1 {
  font-size: 26px;
  font-family: Raleway;
}

p {
  font-size: 14px;
  font-family: Raleway;
}

a {
  text-decoration: none;
  color: black;
}


/*THE HEADER*/
.header {
  width: 100%;
  background-color: #0c59cf;
  color: white;
  font-family: Raleway;
  padding-top: 10px;
  padding-bottom: 10px;

}

/*THE NAV*/
/* Grid styling nav*/
.nav-grid-container {
  background-color: #91e4fb;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
}

/*The nav hover effect*/
.hover-effect:hover {
  background-color:rgba(255, 255, 255, 0.5);
}
  /*For mobile devices*/
@media (max-width:650px){
.nav-grid-container {
  background-color: #91e4fb;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: " . " " . " " .";
}
}


/*THE FOOTER*/
.footer {
  background-color: #91e4fb;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

}

/*STYLING FOR THE MAIN PAGE ELEMENTS*/
/*The grid that holds all the elements*/
.page-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "." ".";
  padding-bottom: 50px;
}

#header-nav-container {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: auto;
}
/*The about me grid on the home page*/
.aboutMe-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "aboutMe-Title"
  "aboutMe-Image"
  "aboutMe-Descritption";
}

.aboutMe-Image { grid-area: aboutMe-Image; }

  .aboutMe-Title { grid-area: aboutMe-Title; }

  .aboutMe-Description { grid-area: aboutMe-Descritption; }

